
mat-card {
  padding: 10px;
  margin-bottom: 10px;
}
.container__card {

  display: flex;
  justify-content: space-around;
  align-items: center;

  .img {
    height: 68px;
    width: 69px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


.container__card_new_day {

  display: flex;
  justify-content: space-between;
  align-items: center;

  .img {
    height: 68px;
    width: 69px;

    img {
      width: 100%;
      height: 80%;
    }
  }
}

.card__number__one {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mat-card-two {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.container__ubicacion {
  span {
    font-weight: 400;
    font-size: 15px;
    color: #212121;
  }
}


  h1, h2 {
    font-size: 16px;
  }

