mat-card {
  padding: 8px;
  margin-bottom: 8px;
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.3);
  }


  h2 {
    span {
      color: #d94e12;
      cursor: pointer;
      &:hover {
        color: #8c360d;
      }
    }
  }


  .information__comprador {
    p {
      font-size: 15px;
      font-weight: 500;
    }
  }

}

.container__pre_result {
  mat-card {
    //box-shadow:  0 0 2px rgba(0, 0, 0, 0.01);
    margin-bottom: 15px;
    cursor: pointer;

    .container__card {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


.container__card__item__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .img  {
    height: 100px;
    width: 100px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }

  }
}


.container___pricipal {
  display: flex;
  justify-content: center;
  align-items: center;

  .container__padre {

    height: 500px;
    width: 500px;
    img {
      width: 100%;
      height: 80%;
      border-radius: 20%;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;

      text-align: center;
      span {
        cursor: pointer;
        color: #d94e12;
        &:hover {
          color: #8c360d;
        }
      }
    }
  }

}


.container__value__pedido {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid orange;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
