$bodyBackgroundColor: #000000;
$headerBackgroud: #a52a2a;
$colorBackground: #FFFFF;
$colorText: #FFFFFF;
$colorButtonHeader: #FFFFFF;

/**
  Botones de carrito
 */

$buttonBackAddCart: #d06b2c;
$buttonFinisPay: #22a132;

$buttonAddFavorite: #d02c63;

$buttonRegister: #19d912;
$buttonSection: #146713;



