<div class="container__cart">
  <div class="container__buutton__back">

    <button mat-fab color="primary" (click)="backButton()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>


  <div class="container__finish">

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="mat-card" *ngIf="dataCart && dataCart.length > 0; else notProducts">

          <mat-card *ngFor=" let item of dataCart; let i = index">
            <div class="row">
              <div class="col-6 col-lg-3">
                <div class="img">
                  <img [src]="item.img" alt="">
                </div>
              </div>

              <div class="col-6 col-lg-4 container__name">
                   <div>
                     <div class="name__product">
                       <p> {{ item.nameProduct}}</p>
                     </div>

                     <div class="prefijo__product">
                       <p> {{ item.value_prefijo}} - {{ item.prefijo }} </p>
                     </div>
                   </div>
              </div>

              <div class="col-6 col-lg-3 container__price">
                    <div class="">
                      <div class="container__precio ">
                        <p>{{ item.price | currency}}</p>
                      </div>

                      <div class="container__cantidad">
                        <p>{{ item.cantidad}}</p>
                      </div>


                      <div class="container__price__total">
                        <p>{{ item.cantidad * item.price | currency}}</p>
                      </div>
                    </div>
              </div>

              <div class="col-6 col-lg-2 container__button_delete">
                <div class="container__right">
                  <button mat-mini-fab color="accent" (click)="deleteCard(item, i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card>


        </div>


        <ng-template #notProducts>

          <div class="container__text">
           <div class="div">
             <h1>No tienes productos agregados</h1>
             <p>Ingresa al siguiente link para agregar productos<span routerLink="/">has Clic aquí</span></p>
           </div>
          </div>



        </ng-template>

      </div>
      <div class="col-12 col-lg-5">
        <div class="mat-card-lacteral">

          <mat-card>

            <div class="container__totalCompra">
              <span class="title__pagar">Total valor de laCompra: </span> <span class="value__pagar">{{ valorTotal | currency }}</span>
            </div>
          </mat-card>



          <mat-card *ngIf="userRegister && colectionID ; else notData" class="information__comprador">
              <h2>Informacion de entrega del pedido</h2>
            <p>
              <span>Nombre: {{ dataPay.nombre }}</span>
            </p>

            <p>
              <span>Apellido: {{ dataPay.apellido }}</span>
            </p>

            <p>
              <span>Telefono: {{ dataPay.telefono }}</span>
            </p>

            <p>
              <span>Ciudad: {{ dataPay.ciudad }}</span>
            </p>

            <p>
              <span>Dirección: {{ dataPay.direccion }}</span>
            </p>

            <p>
              <span>Barrio: {{ dataPay.barrio }}</span>
            </p>

            <p>
              <span>Observacion: {{ dataPay.observation }} </span>
            </p>


            <h2>para actualizar tú información <span routerLink="/my-user">Ingresa aquí</span></h2>
          </mat-card>


          <ng-template #notData>

            <mat-card *ngIf="userRegister && !colectionID" >
                <span>Por favor actualiza tus datos de entrega</span>
                <button mat-flat-button color="primary" class="button__favorite button__finis__pay" routerLink="/my-user" >
                  <span>Ingresa aquí</span>
                </button>

            </mat-card>

          </ng-template>

          <mat-card *ngIf="!userRegister">
            <button mat-flat-button color="primary" class="button__favorite button__finis__pay"
                    (click)="openModalLogin( 1 )" >
              <span>Iniciar sesión</span>
            </button>
          </mat-card>

          <mat-card *ngIf="userRegister && colectionID">
            <button mat-flat-button color="primary"
                    class="button__favorite button__finis__pay"
                    (click)="setPay()"
            [disabled]="dataCart && dataCart.length === 0">
              <span>Realizar Compra</span>
            </button>
          </mat-card>
        </div>
      </div>
    </div>

  </div>

</div>
