mat-card {
  height: 470px;
  margin-bottom: 25px;
  padding: 16px;
  border-radius: 8px;
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;

  .container-img {
    cursor: pointer;
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
  &:hover {
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.3);
  }

  .container-description {

    .container__price {
      margin-top: 10px;
      padding-left: 10px;
      span {
        font-weight: 500;
        letter-spacing: 1px;
        color: #521367;
        font-size: 20px;
      }
    }
    .container__name {
      padding-left: 10px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        padding-top: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #424242;
        font-size: 18px;
      }
    }
    .container-prefijo {
      padding-left: 10px;
      padding-top: 10px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #424242;
      font-size: 16px;
    }

    .footer__button {
      background-color: #FFFFFF;
      border-top: 1px solid #EEEEEE;
      justify-content: space-between;
      width: 100%;
      margin-top: 16px;

      .container__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        button  {
          width: 100%;


        }
        .button__cart {
          margin-right: 1px;
        }
        .button__favorite {
          margin-left: 1px;
        }
      }
    }

  }
}

.container___pricipal {
  display: flex;
  justify-content: center;
  align-items: center;

  .container__padre {

    height: 500px;
    width: 500px;
    img {
      width: 100%;
      height: 80%;
      border-radius: 20%;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;

      text-align: center;
      span {
        cursor: pointer;
        color: #d94e12;
        &:hover {
          color: #8c360d;
        }
      }
    }
  }

}
