<div class="container___section">
  <div class="container-title">
    <div class="container__title__form">
      <span >Información del Producto</span>

    </div>
    <div class="container__title__exit">
      <button mat-stroked-button color="warn" (click)="onNoClick()">
        <mat-icon>close </mat-icon>
      </button>
    </div>
  </div>

  <div class="form__cart">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="container__img__product">
          <div class="img">
            <img [src]="dataCart?.img" alt="">
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="information__product">
          <p class="name__product">
            <span> {{ dataCart?.nameProduct }}</span>
          </p>

          <p class="prefijo">
            <span> {{ dataCart?.value_prefijo }} - {{ dataCart?.prefijo }}</span>
          </p>


          <p class="price">
            <span> {{ dataCart?.price | currency }} </span>
          </p>

        </div>



        <div class="container__option__size">

          <div class="container__form">

            <div class="container__input">

              <mat-form-field appearance="outline">
                <div class="container__left">
                  <button mat-mini-fab color="accent" (click)="sumCart(false)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="valueForm" type="number" (keyup)="setValueInput()">

                <div class="container__right">
                  <button mat-mini-fab color="accent" (click)="sumCart(true)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-form-field>

            </div>
<!--            <div class="container__right">-->
<!--              <button mat-mini-fab color="accent"  (click)="sumCart(true)">-->
<!--                <mat-icon>add</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
          </div>

        </div>


        <div class="footer__button">
          <div class="container__button">

            <button mat-flat-button color="primary" class="button__cart button__back__add__cart " (click)="addCart()">
              <mat-icon>local_mall</mat-icon>
              <span>Agregar al Carrtito</span>
            </button>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
