@use '@angular/material' as mat;
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&display=swap');

* {
  //font-family: "Lugrasimo", cursive;
  //font-weight: 400;
  //font-style: normal;


  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}



$tienda-de-alimentos-primary: mat.define-palette(mat.$indigo-palette);
$tienda-de-alimentos-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$tienda-de-alimentos-warn: mat.define-palette(mat.$red-palette);


$tienda-de-alimentos-theme: mat.define-light-theme((
  color: (
    primary: $tienda-de-alimentos-primary,
    accent: $tienda-de-alimentos-accent,
    warn: $tienda-de-alimentos-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));


@include mat.all-component-themes($tienda-de-alimentos-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "styles/variables";

/**
VAriables globales
 */

.button__back__add__cart {
  background-color: $buttonBackAddCart !important;
}
.button__finis__pay {
  background-color: $buttonFinisPay !important;
}

.button__add__favorite {
  background-color: $buttonAddFavorite !important;
}

.header___cackgroud {

  background-color: $headerBackgroud !important;
  color: #FFFFFF !important;
}

.color__button__header {

  color: $colorButtonHeader !important;
}
